{% extends "footer.html" %}

{% block title0 %}
    Register
{% endblock %}

{% block main0 %}
<div id="register">

	<!-- Welcome message. -->
	<div class="welcome">
		<p>Just a few quick steps and you'll be a registered Stockings trader!</p>
		<div class="divider"></div>
	</div>
	
	<!-- Registration form. -->
	<form class="register" action="{{ url_for('register') }}" method="post">
        <fieldset>
            <div class="form-group">
                *<input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
            </div>
            <div class="form-group">
                *<input class="form-control" name="password1" placeholder="Password" type="password"/>
            </div>
            <div class='form-group'>
                *<input class="form-control" name="password2" placeholder="Retype password" type="password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Log In</button>
            </div>
            <br/>
        </fieldset>
    </form>
	<div class="req">(*) Required Fields</div>
	
</div>
{% endblock %}