{% extends "nav.html" %}

{# Import title block #}
{% block title1 %}
	{% block title0 %}{% endblock %}
{% endblock %}

{# Import main block #}
{% block main1 %}
	{% block main0 %}{% endblock %}
{% endblock %}

{% block footer0 %}
<div id="footer">
	<p>Disclaimer: This website is not intended to be used for actual trading. Furthermore, there is no real value attached to any balance; they are simply numbers in a database.</p>
	<p>This website was made just for practice. <a href="https://github.com/redraze" target="_blank">[Source Code] <img src="https://image.flaticon.com/icons/svg/25/25231.svg" alt="G"></a><p>
</div>
{% endblock %}